
.ball {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;  
    display: none;
    margin: 25px;
    
}
.shell.reveal .ball {
    display: block;
}
.shell{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.shell-container{
    display: flex;
}